<div class="EnclosureBox">
    <div class="SectionEnclosureBox">
        <div class="SectionOnBox SectionOnBoxHeading">Main menu</div>
        <a href=""><div class="SectionOnBox">Inventory</div></a>
        <a href=""><div class="SectionOnBox">Mechandizing</div></a>  
        <a href=""><div class="SectionOnBox">Reports</div></a>
        <a href=""><div class="SectionOnBox">CRM</div></a>
        <a href=""><div class="SectionOnBox">Promotions</div></a>
        <a href=""><div class="SectionOnBox">BI</div></a>
        <a href=""><div class="SectionOnBox">Admin</div></a>
        <a href=""><div class="SectionOnBox">Web POS</div></a>
        <a href=""><div class="SectionOnBox">Production</div></a>
        <a href=""><div class="SectionOnBox">Settings</div></a>
    </div>
</div>
