<div>
    <div class="" style="width: 100%;  height: 15mm; background-color: #888888;">
        <img src="favicon.ico" class="img-fluid" alt="App-Logo" style="padding: 12px;">
    </div>   
    <div *ngIf="mainMenuShown">
        <div class="EnclosureBox">
            <div class="SectionEnclosureBox">
                <div class="SectionOnBox SectionOnBoxHeading">Main menu</div>
                <a (click)="showAdminMenu()"><div class="SectionOnBox">Admin</div></a>
                <a (click)="showInventoryMenu()"><div class="SectionOnBox">Inventory</div></a>
                <a (click)="showMechandizerMenu()" ><div class="SectionOnBox">Mechandizing</div></a>  
                <a (click)="showSupplierRelationsMenu()" ><div class="SectionOnBox">Supplier Relations</div></a>
                <a (click)="showCustomerRelationsMenu()" ><div class="SectionOnBox">Customer Relations</div></a>  
                <a (click)="showHumanResourceMenu()" ><div class="SectionOnBox">Human Resource</div></a>   
                <a (click)="showReportMenu()"><div class="SectionOnBox">Reports</div></a>
                <!--<a ><div class="SectionOnBox">CRM..</div></a>
                <a ><div class="SectionOnBox">Promotions..</div></a>
                <a ><div class="SectionOnBox">BI..</div></a>            
                <a ><div class="SectionOnBox">Production..</div></a>
                <a ><div class="SectionOnBox">Settings..</div></a>-->
                <a routerLink="web-pos"><div class="SectionOnBox">Web POS</div></a>
            </div>
        </div>  
    </div>
    <div *ngIf="adminMenuShown">
        <div class="EnclosureBox">
            <div class="SectionEnclosureBox">
                <a  routerLink="home" (click)="showMainMenu()"><div class="SectionOnBoxBack">Back to Main Menu</div></a> 
            </div>
        </div>
        <app-admin-menu></app-admin-menu>
    </div> 
    <div *ngIf="inventoryMenuShown">
        <div class="EnclosureBox">
            <div class="SectionEnclosureBox">
                <a  routerLink="home" (click)="showMainMenu()"><div class="SectionOnBoxBack">Back to Main Menu</div></a> 
            </div>
        </div>
        <app-inventory-menu></app-inventory-menu>
    </div>  
    <div *ngIf="mechandizerMenuShown">
        <div class="EnclosureBox">
            <div class="SectionEnclosureBox">
                <a  routerLink="home" (click)="showMainMenu()"><div class="SectionOnBoxBack">Back to Main Menu</div></a> 
            </div>
        </div>
        <app-mechandizer-menu></app-mechandizer-menu>
    </div> 
    <div *ngIf="supplierRelationsMenuShown">
        <div class="EnclosureBox">
            <div class="SectionEnclosureBox">
                <a  routerLink="home" (click)="showMainMenu()"><div class="SectionOnBoxBack">Back to Main Menu</div></a> 
            </div>
        </div>
        <app-supplier-relations-menu></app-supplier-relations-menu>
    </div>  
    <div *ngIf="customerRelationsMenuShown">
        <div class="EnclosureBox">
            <div class="SectionEnclosureBox">
                <a  routerLink="home" (click)="showMainMenu()"><div class="SectionOnBoxBack">Back to Main Menu</div></a> 
            </div>
        </div>
        <app-customer-relations-menu></app-customer-relations-menu>
    </div> 
    <div *ngIf="humanResourceMenuShown">
        <div class="EnclosureBox">
            <div class="SectionEnclosureBox">
                <a  routerLink="home" (click)="showMainMenu()"><div class="SectionOnBoxBack">Back to Main Menu</div></a> 
            </div>
        </div>
        <app-human-resource-menu></app-human-resource-menu>
    </div> 
    <div *ngIf="reportMenuShown">
        <div class="EnclosureBox">
            <div class="SectionEnclosureBox">
                <a  routerLink="home" (click)="showMainMenu()"><div class="SectionOnBoxBack">Back to Main Menu</div></a> 
            </div>
        </div>
        <app-report-menu></app-report-menu>
    </div>
</div>
