<div class="row">
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Inventory / Conversion / Product to Material</p></td>
                <td>[<a routerLink="/home">Home</a>][<span class="short-cut" (click)="createShortCut('Product-Material Conversion', 'product-to-material')">Create Shortcut</span>]</td>                                 
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <br>
                        <div class="row">
                            <div class="col-5">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: right;">Conversion #</td><td style="padding: 0;"><input type="text" [(ngModel)]="no" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Status</td><td>{{status}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Created</td><td>{{created}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Approved</td><td>{{approved}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Comments</td>
                                            <td style="padding: 0;"><textarea [(ngModel)]="comments" class="form-control special"></textarea></td>          
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-success" (click)="getByNo(no)" style="margin: 2px; width: 25mm;">Search</button><br><br>
                                <button class="btn btn-success" (click)="clear()" style="margin: 2px; width: 25mm;">New</button><br>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;">Edit</button><br>
                                <button (click)="save()" class="btn btn-success"style="margin: 2px; width: 25mm;">Save</button><br>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5" style="height: 7cm; overflow: auto;">
                                <table class="table table-bordered">
                                    <thead style="position: sticky; top: 0;">
                                        <tr class="table-dark">
                                            <td>Conversion#</td>
                                            <td>Status</td>
                                            <td>Select</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let c of productToMaterials">
                                            <td>{{c.no}}</td>
                                            <td>{{c.status}}</td>
                                            <td><span (click)="get(c.id)" style="cursor: pointer;">[Select]</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button (click)="open(content, '', '')" class="btn btn-success" style="margin: 2px; width: 25mm;" >+Product</button>
                                <button (click)="approve(id)" class="btn btn-success"style="margin: 2px; width: 25mm;" >Approve</button>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;">Print</button>
                                <button (click)="cancel(id)" class="btn btn-danger"style="margin: 2px; width: 25mm;" >Cancel</button>
                                <button (click)="archive(id)" class="btn btn-success"style="margin: 2px; width: 25mm;">Archive</button>
                                <button (click)="archiveAll()" class="btn btn-success"style="margin: 2px; width: 30mm;">Archive All</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Code</td>
                                            <td>Description</td>
                                            <td>Qty</td>
                                            <td>Material Equivalence</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of productToMaterialDetails">
                                            <td>{{d.product.code}}</td>
                                            <td>{{d.product.description}}</td>
                                            <td><b>{{d.qty}}</b>  <i>    {{d.product.uom}}    </i></td>
                                            <td><b>{{d.ratio*d.qty}}</b>  <i>    {{d.material.uom}}    </i>  {{d.material.description}}</td>
                                            <td><span style="cursor: pointer;" (click)="deleteDetail(d.id)">[Remove]</span><span style="cursor: pointer;" (click)="open(content, d.product.id, d.id)">[Edit]</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>              
                </td>
            </tr>
        </table>
    </div>
</div>

<ng-template #content let-modal style="height: 4cm;">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add/Edit Product</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="text-align: right;">Barcode</td>
                    <td style="padding: 0;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" [(ngModel)]="barcode" class="form-control special">
                                    </td>
                                    <td>
                                        <button (click)="searchProduct(barcode, productCode, productDescription)" style="margin: 1mm;">Search</button>
                                    </td>
                                    <td>
                                        <button (click)="clearDetail()">Reset</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Code</td><td style="padding: 0;"><input type="text" [(ngModel)]="productCode" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Description</td>
                    <td style="padding: 0;">
                        <input type="text" [(ngModel)]="productDescription" list="descriptions" class="form-control special">
                        <datalist id="descriptions" style="padding: 0px;">
                            <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Qty</td><td style="padding: 0;"><input type="text" [(ngModel)]="qty" class="form-control special"></td>
                </tr>   
                <tr>
                    <td style="text-align: right;">Ratio Details</td>
                    <td style="padding: 0;">
                        <textarea class="form-control special" style="height: 3cm;" readonly>
                            1 {{productUom}} [{{productCode}}] {{productDescription}} = {{ratio}} {{materialUom}} [{{materialCode}}] {{materialDescription}}
                        </textarea>
                    </td>
                </tr>              
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      <button type="button" (click)="saveDetail()" (click)="modal.close('Save click')" class="btn btn-outline-dark">Save</button>
    </div>
</ng-template>