<div class="row" [@fadeInOut]>
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Mechandizing / Sales Receipt</p></td>
                <td>[<a routerLink="/home">Home</a>][<span class="short-cut" (click)="createShortCut('Sales Receipts', 'sales-receipts')">Create Shortcut</span>]</td>                                  
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <br>
                        <div class="row">
                            <div class="col-5">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <input type="hidden" [(ngModel)]="id">
                                            <td style="text-align: right;">Receipt No</td><td style="padding: 0;"><input type="text" [(ngModel)]="no" class="form-control special" [readonly]="receiptNoLocked"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Receipt Date</td>
                                            <td style="padding: 0;">
                                                <table>
                                                    <tr>
                                                        <td style="width: 90%;">
                                                            <input type="text" [(ngModel)]="receiptDate" class="form-control special"  readonly>
                                                        </td>
                                                        <td>
                                                            <input type="date" [(ngModel)]="receiptDate" class="special" style="width: 14mm;" [readonly]="inputsLocked">                 
                                                        </td>
                                                    </tr>
                                                </table>                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Customer</td>
                                            <td style="padding: 0;">
                                                <input type="text" [(ngModel)]="customerNo" class="form-control special" placeholder="Customer No" readonly>
                                                <select [(ngModel)]="customerName" (ngModelChange)="searchCustomer(customerName)" class="form-control input-sm" [disabled]="inputsLocked">
                                                    <option></option>
                                                    <option *ngFor="let c of customerNames">{{c}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Mode of Payment</td>
                                            <td style="padding: 0;">
                                                <select [(ngModel)]="mode" class="form-control input-sm" [disabled]="inputsLocked">
                                                    <option></option>
                                                    <option>Cash</option>
                                                    <option>Cheque</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Check No</td><td style="padding: 0;"><input type="text" [(ngModel)]="chequeNo" class="form-control special" [readonly]="inputsLocked"></td>
                                        </tr> 
                                        <tr>
                                            <td style="text-align: right;">Amount</td><td style="padding: 0;"><input type="text" [(ngModel)]="amount" class="form-control special" style="text-align: right; font-family: 'Courier New', Courier, monospace; font-weight: bold;" [readonly]="inputsLocked"></td>
                                        </tr>                                                             
                                        <tr>
                                            <td style="text-align: right;">Created</td><td>{{created}}</td>
                                        </tr> 
                                        <tr>
                                            <td style="text-align: right;">Approved</td><td>{{approved}}</td>
                                        </tr> 
                                        <tr>
                                            <td style="text-align: right;">Comments</td>
                                            <td style="padding: 0;"><textarea [(ngModel)]="comments" class="form-control special"></textarea></td>          
                                        </tr>
                                    </tbody>
                                </table><br>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;" (click)="approve(id)">Approve</button>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;">Print</button>
                                <button class="btn btn-danger"style="margin: 2px; width: 25mm;" (click)="cancel(id)">Cancel</button>
                                <button (click)="archive(id)" class="btn btn-success"style="margin: 2px; width: 25mm;">Archive</button>
                                <button (click)="archiveAll()" class="btn btn-success"style="margin: 2px; width: 30mm;">Archive All</button>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-success" (click)="getByNo(no)" style="margin: 2px; width: 25mm;">Search</button><br><br>
                                <button class="btn btn-success" (click)="clear()" (click)="unlockAll()" style="margin: 2px; width: 25mm;">New</button><br>
                                <button class="btn btn-success" (click)="unlockAll()" style="margin: 2px; width: 25mm;">Edit</button><br>
                                <button (click)="save()" class="btn btn-success"style="margin: 2px; width: 25mm;">Save</button><br>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5" style="height: 7cm; overflow: auto;">
                                <table class="table table-bordered">
                                    <thead style="position: sticky; top: 0;">
                                        <tr class="table-dark">
                                            <td>Receipt No</td>
                                            <td>Receipt Date</td>
                                            <td>Status</td>
                                            <td>Select</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let rec of receipts">
                                            <td>{{rec.no}}</td>
                                            <td>{{rec.receiptDate}}</td>
                                            <td>{{rec.status}}</td>
                                            <td><span (click)="get(rec.id)" style="cursor: pointer;">[Select]</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        
    </div>
</div>
