<div class="row" [@fadeInOut]>
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Mechandizing / Sales Receipt</p></td>
                <td>[<a routerLink="/home">Home</a>][<span class="short-cut" (click)="createShortCut('Sales Receipts', 'sales-receipts')">Create Shortcut</span>]</td>                                  
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <br>
                        <div class="row">
                            <div class="col-5">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: right;">Receipt No</td><td style="padding: 0;"><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Receipt Date</td><td style="padding: 0;"><input type="date" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Customer</td>
                                            <td style="padding: 0;">
                                                <input type="text" class="form-control special">
                                                <input type="text" class="form-control special">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Mode of Payment</td><td style="padding: 0;"><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Check No</td><td style="padding: 0;"><input type="text" class="form-control special"></td>
                                        </tr> 
                                        <tr>
                                            <td style="text-align: right;">Amount</td><td style="padding: 0;"><input type="text" class="form-control special"></td>
                                        </tr>                                                             
                                        <tr>
                                            <td style="text-align: right;">Created</td><td></td>
                                        </tr> 
                                        <tr>
                                            <td style="text-align: right;">Comments</td>
                                            <td style="padding: 0;"><textarea class="form-control special"></textarea></td>          
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-success" style="margin: 2px; width: 25mm;">Search</button><br><br>
                                <button class="btn btn-success" style="margin: 2px; width: 25mm;">New</button><br>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;">Edit</button><br>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;">Save</button><br>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5" style="height: 7cm; overflow: auto;">
                                <table class="table table-bordered">
                                    <thead style="position: sticky; top: 0;">
                                        <tr class="table-dark">
                                            <td>Issue No</td>
                                            <td>Issue Date</td>
                                            <td>Status</td>
                                            <td>Select</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><span style="cursor: pointer;">[Select]</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                
                </td>
            </tr>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add/Edit Product</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="text-align: right;">Barcode</td>
                    <td style="padding: 0;">
                        <table>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control special"></td><td><button style="margin: 1mm;">Search</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Code</td><td style="padding: 0;"><input type="text" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Description</td>
                    <td style="padding: 0;">
                        <input type="text" class="form-control special">
                        <datalist id="descriptions" style="padding: 0px;">
                            <option></option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Qty</td><td style="padding: 0;"><input type="text" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Cost Price</td><td style="padding: 0;"><input type="text" class="form-control special" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Pack Size</td><td style="padding: 0;"><input type="text" class="form-control special" readonly></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      <button type="button" class="btn btn-outline-dark">Save</button>
    </div>
</ng-template>
