<div class="row">
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Admin / Company Profile</p></td>
                <td></td>                                   
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Company Name</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Logo</td><td><input type="file"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Contact Name</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">TIN</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">VRN</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Physical Address</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Post Code</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Post Address</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Telephone</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Mobile</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Email</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Fax</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Bank Acc Name</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Bank Address</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Bank Post Code</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Bank Name</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;">Bank Acc No</td><td><input type="text" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 50mm;"></td><td><button class="btn btn-success ">Save</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="col-2"></div>    
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

