<div class="row">
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Home / My Dashboard</p></td>
                <td></td>                                   
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 80vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <span class="badge bg-primary" style="width: 50mm; border-radius: 0px;">My Shortcuts</span>
                                <ul>
                                    <li><a href=""><font style="font-size: smaller;">Local Purchase Order (LPO)</font></a></li>
                                    <li><a href=""><font style="font-size: smaller;">Goods Received Note (GRN)</font></a></li>
                                    <li><a href=""><font style="font-size: smaller;">Web POS</font></a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <span class="badge bg-danger" style="width: 50mm; border-radius: 0px;">My Messages</span>
                                <ul>
                                    <li><font style="font-size: smaller;">Please check LPOs to approve</font></li>
                                    <li><font style="font-size: smaller;">Important Products are out of stock, please re-stock</font></li>
                                </ul>
                            </div>
                        </div>                       
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
</div>
