<div class="row">
    <div class="col center">
        <table class="form-login"  style="width: 130mm;">
            <tr>
                <td>
                    <table style="width: 100%; height: 15mm; background-color: rgb(22, 22, 41);">
                        <tr>
                            <td style="width: 100%; vertical-align: center;">
                                <font color="white" style="font-size: larger;">User Login</font>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;">
                        <tr>
                            <td style="width:30%; height: 40mm; background-color: rgb(15, 15, 20);">
                                <img src="favicon.ico" class="img-fluid" alt="App-Logo" style="padding: 12px; width: 20mm;">
                            </td>
                            <td style="width:70%; height: 40mm; vertical-align: top;">
                                <table style="width: 100%; background-color: rgb(157, 171, 185);">
                                    <tr>
                                        <td style="width: 100%;  height: 30mm;  vertical-align: top;">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 25%; padding-top: 2mm;"><label>Username*</label></td>
                                                <td style="width: 75%; padding-top: 2mm;"><input  type="text" name="username" [(ngModel)]="username" required class="form-control" style="height: 8mm;"></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 25%; padding-top: 2mm;"><label>Password*</label></td>
                                                <td style="width: 75%; padding-top: 2mm;"><input  type="password" name="password" [(ngModel)]="password" required class="form-control" style="height: 8mm;"></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <table style="width: 100%;">
                                                        <tr>
                                                            <td style="width: 50%; padding-top: 2mm;">
                                                                <button (click)="loginUser()" class="btn btn-success btn-sm">Login</button>
                                                            </td>
                                                            <td style="width: 50%; padding-top: 2mm;">
                                                                <button (click)="clearFields()" class="btn btn-danger btn-sm">Cancel</button>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 50%;">
                                                                <a><i>Forgot Password?</i></a>
                                                            </td>
                                                            <td style="width: 50%;">
                                                                <a><i>Register</i></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>   
                                        </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 100%;  height: 10mm; vertical-align: top;">
                                            <font color="black" style="font-size: smaller;">Language : English</font>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%; background-color: rgb(1, 1, 12);">
                        <tr>
                            <td style="width: 100%; vertical-align: top; text-align: right;"><span style="width: 100%; text-align: right;"><font style="font-size: smaller;" color="white">Copyright &copy; 2021, Orbix. All Rights Reserved.</font></span></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table> 
    </div>  
</div>
