<div class="row">
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Admin / Role Manager</p></td>
                <td></td>                                   
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <input type="hidden" name="id">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>*Role Name</label>                               
                                    </div>
                                    <div class="col-5">
                                        <input type="text" name="username" required class="form-control input-sm special">                               
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-success form-control">Search</button>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Status</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="checkbox" id="active" name="active" value="active"><label for="active"> Active</label><br>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-2 float-end" style="text-align: right;">
                                        <label>Authorities</label>                               
                                    </div>
                                    <div class="col-10 table-wrapper-scroll-y my-custom-scrollbar">
                                        <table class="table table-sm table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>Object</td>
                                                    <td>Privileges</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top;">LPO</td>
                                                    <td  style="vertical-align: top;">
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> CREATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> READ</label>
                                                        <input type="checkbox" id="admin" name="admin" value="admin"><label for="admin"> UPDATE</label>
                                                        <input type="checkbox" id="manager" name="manager" value="manager"><label for="manager"> DELETE</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                                <hr>
                            </div>
                          <div class="col-3">
                              <div class="row">
                                  <div class="col-8">
                                    <button class="btn btn-success" style="margin: 2px; width: 25mm;">New</button><br>
                                    <button class="btn btn-success" style="margin: 2px; width: 25mm;">Edit</button><br>
                                    <button class="btn btn-danger" style="margin: 2px; width: 25mm;">Delete</button><br>
                                    <button class="btn btn-primary" style="margin: 2px; width: 25mm;">Save</button>
                                  </div>
                              </div>
                          </div>                                              
                        </div>
                      </div>
                    



                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="vertical-align: top;"><font style="font-size: smaller;">Status: </font></td>
            </tr>
        </table>
    </div>
</div>