<div class="row" [@fadeInOut]>
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Admin / Till Administration</p></td>
                <td></td>                                   
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            
                            <div class="col-2"></div>
                            <div class="col-8">
                                <br>
                                <br>
                                <button class="btn btn-sm btn-success" (click)="open(content, '')" style="margin-left: 2mm;">Add New Till</button>
                                <hr>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Till No</td>
                                            <td>Computer Name</td>
                                            <td>Enabled?</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let till of tills">
                                            <td>{{till.tillNo}}</td>
                                            <td>{{till.computerName}}</td>
                                            <td>{{till.active}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-primary" (click)="open(content, till.id)" style="margin-left: 2mm;">Edit</button>
                                                <button class="btn btn-sm btn-outline-primary" (click)="activateTill(till.id, till.active)" style="margin-left: 2mm;">Activate</button>
                                                <button class="btn btn-sm btn-outline-primary" (click)="deactivateTill(till.id, till.active)" style="margin-left: 2mm;">Deactivate</button>
                                                <button class="btn btn-sm btn-outline-danger" (click)="deleteTill(till.id)" style="margin-left: 2mm;">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="col-2"></div>                                      
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add/Edit Till Information</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <input type="hidden" [(ngModel)]="id">
                    <td>Till No</td><td><input type="text" [(ngModel)]="tillNo" class="form-control"></td>
                </tr>
                <tr>
                    <td>Computer Name</td><td><input type="text" [(ngModel)]="computerName" class="form-control"></td>
                </tr>
                <tr>
                    <td></td><td></td>
                </tr>
            </tbody>
        </table>
      
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      <button type="button" class="btn btn-outline-dark" (click)="saveTill()">Save</button>
    </div>
</ng-template>


