<div class="row">
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Inventory / Product Mass Manager</p></td>
                <td></td>                                   
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <br><br>
                                <div class="alert alert-info" role="alert">
                                    <span>Progress: {{progressStatus}} {{currentRecord}} of {{totalRecords}}</span>
                                    <hr>
                                    <div class="alert alert-info" role="alert">Upload Products from file
                                        <input type="file" (change)="uploadProductFile($event)" multiple="false">
                                    </div>
                                    <hr>
                                    <div class="alert alert-info" role="alert">Update Products from file
                                        <input type="file" (change)="updateProductFile($event)" multiple="false">
                                    </div>
                                    <hr>
                                    <div class="alert alert-info" role="alert">Download Products
                                        <button (click)="exportProductToExcel()">Download</button>
                                    </div>
                                    <hr>
                                    <div class="alert alert-info" role="alert">Download Product Template
                                        <button (click)="exportTemplateToExcel()">Download</button>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-2"></div>                                      
                        </div>
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
</div>
