
<section style="padding: 0mm; margin: 0mm; background-color: #eeeeee;">

  <div *ngIf="isLoggedIn===false">
    <app-login></app-login>
  </div>
  
  <table  *ngIf="isLoggedIn" style="padding: 0mm; margin: 0mm; width: 100%; min-width: 300mm; max-width: 300mm; max-width: 450mm;">
    <tr>
      <td style="width: 50mm; height: auto; vertical-align:top; padding: 0mm; margin: 0mm;">
        <div style="padding: 0mm; margin: 0mm;">
          <app-side-bar></app-side-bar>
        </div>
      </td>
      <td style="vertical-align:top; padding: 0mm;">
        <div style="background-color: rgb(187, 175, 175);">
          <app-header></app-header>
        </div>
        <div style="background-color: white;"> 
          <router-outlet></router-outlet>         
        </div>
        <div>
          <app-footer></app-footer>
        </div>
      </td>
    </tr>
  </table> 
  <hr>
</section>
