
<section style="padding: 0mm; margin: 0mm; background-color: #eeeeee; overflow-y: hidden;">

  <div *ngIf="isLoggedIn===false" style="height: 100vh;">
    <app-login></app-login>
  </div>
  
  <table  *ngIf="isLoggedIn" style="padding: 0mm; margin: 0mm; width: 100%; height: 100vh; min-width: 300mm; max-width: 300mm; max-width: 450mm;">
    <tr>
      <td style="background-color: #eeeeee; width: 50mm; height: 100%; vertical-align:top; padding: 0mm; margin: 0mm;">
        <div style="padding: 0mm; margin: 0mm;">
          <app-side-bar></app-side-bar>
        </div>
      </td>
      <td style="vertical-align:top; padding: 0mm;">
        <div style="background-color: rgb(187, 175, 175);">
          <app-header></app-header>
        </div>
        <div style="background-color: white; height: 84vh;"> 
          <!--<app-dashboard></app-dashboard>-->
          <!--<app-role-manager></app-role-manager>-->
          <!--<app-user-profile></app-user-profile>-->
          <router-outlet></router-outlet>         
        </div>
        <div style="background-color: rgb(139, 163, 163);">
          <app-footer></app-footer>
        </div>
      </td>
    </tr>
  </table>
  
</section>
