<div class="row">
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Admin / User Profile</p></td>
                <td></td>                                   
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <input type="hidden" name="id">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>*Username</label>                               
                                    </div>
                                    <div class="col-5">
                                        <input type="text" name="username" required class="form-control input-sm special">                               
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-success form-control">Search</button>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>*Password</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="password" name="password" required class="form-control input-sm special">                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>*Roll No</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="rollNo" required class="form-control input-sm special" placeholder="Unique employee/personnel number">                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>*First Name</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="firstName" required class="form-control input-sm special">                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Second Name</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="secondName" class="form-control input-sm special">                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>*Last Name</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="lastName" required class="form-control input-sm special">                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>*Alias</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="alias" required class="form-control input-sm special" placeholder="Unique flag name that identify the user">                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Status</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="checkbox" id="active" name="active" value="active"><label for="active"> Active</label><br>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Check Roles</label>                               
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-12" *ngFor="let role of roles">
                                                <input type="checkbox" id="role.name" name="role.name" value="role.name"><label for={{role.name}}>{{role.name}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                          <div class="col-6">
                              <div class="row">
                                  <div class="col-2"></div>
                                  <div class="col-4">
                                    <button class="btn btn-success" style="margin: 2px; width: 25mm;">New</button><br>
                                    <button class="btn btn-success" style="margin: 2px; width: 25mm;">Edit</button><br>
                                    <button class="btn btn-danger" style="margin: 2px; width: 25mm;">Delete</button><br>
                                    <button (click)="saveUser()" class="btn btn-primary" style="margin: 2px; width: 25mm;">Save</button>
                                  </div>
                              </div>
                          </div>                                              
                        </div>
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
</div>
