<div class="row" [@fadeInOut]>
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Mechandizing / LPO</p></td>
                <td>[<a routerLink="/home">Home</a>][<span class="short-cut" (click)="createShortCut('LPO', 'lpo')">Create Shortcut</span>]</td>                                 
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <br>
                        <div class="row">
                            <div class="col-5">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: right;">LPO #</td><td style="padding: 0;"><input type="text" [(ngModel)]="no" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Supplier</td>
                                            <td style="padding: 0;">
                                                <input type="text" [(ngModel)]="supplierCode" class="form-control special" placeholder="Supplier Code" readonly>
                                                <select [(ngModel)]="supplierName" (ngModelChange)="searchSupplier(supplierName)" class="form-control input-sm">
                                                    <option></option>
                                                    <option *ngFor="let s of supplierNames">{{s}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Order Date</td><td style="padding: 0;"><input type="date" [(ngModel)]="orderDate" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Validity Days</td><td style="padding: 0;"><input type="number" [(ngModel)]="validityDays" class="form-control special"></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Valid Until</td><td style="padding: 0;"><input type="date" [(ngModel)]="validUntil" class="form-control special"  readonly></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Status</td><td>{{status}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Created</td><td>{{created}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Approved</td><td>{{approved}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Printed</td><td>{{printed}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">Comments</td>
                                            <td style="padding: 0;"><textarea [(ngModel)]="comments" class="form-control special"></textarea></td>          
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-success" (click)="getByNo(no)" style="margin: 2px; width: 25mm;">Search</button><br><br>
                                <button class="btn btn-success" (click)="clear()" style="margin: 2px; width: 25mm;">New</button><br>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;">Edit</button><br>
                                <button (click)="save()" class="btn btn-success"style="margin: 2px; width: 25mm;">Save</button><br>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5" style="height: 7cm; overflow: auto;">
                                <table class="table table-bordered">
                                    <thead style="position: sticky; top: 0;">
                                        <tr class="table-dark">
                                            <td>LPO#</td>
                                            <td>LPO Date</td>
                                            <td>Status</td>
                                            <td>Select</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let lpo of lpos">
                                            <td>{{lpo.no}}</td>
                                            <td>{{lpo.orderDate}}</td>
                                            <td>{{lpo.status}}</td>
                                            <td><span (click)="get(lpo.id)" style="cursor: pointer;">[Select]</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-success" style="margin: 2px; width: 25mm;" (click)="open(content, '', '')">+Product</button>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;" (click)="approve(id)">Approve</button>
                                <button class="btn btn-success"style="margin: 2px; width: 25mm;" (click)="print(id)">Print</button>
                                <button class="btn btn-danger"style="margin: 2px; width: 25mm;" (click)="cancel(id)">Cancel</button>
                                <button (click)="archive(id)" class="btn btn-success"style="margin: 2px; width: 25mm;">Archive</button>
                                <button (click)="archiveAll()" class="btn btn-success"style="margin: 2px; width: 30mm;">Archive All</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td>Code</td>
                                            <td>Description</td>
                                            <td>Pack Size</td>
                                            <td>Qty</td>
                                            <td>Cost Price</td>
                                            <td>Total Cost</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of lpoDetails">
                                            <td>{{d.product.code}}</td>
                                            <td>{{d.product.description}}</td>
                                            <td>{{d.product.packSize}}</td>
                                            <td>{{d.qty}}</td>
                                            <td style="text-align: right;">{{d.costPriceVatIncl | currency:'':''}}</td>
                                            <td style="text-align: right;">{{d.qty*d.costPriceVatIncl | currency:'':''}}</td>
                                            <td><span style="cursor: pointer;" (click)="deleteDetail(d.id)">[Remove]</span><span style="cursor: pointer;" (click)="open(content, d.product.id, d.id)">[Edit]</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add/Edit Product</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="text-align: right;">Barcode</td>
                    <td style="padding: 0;">
                        <table>
                            <tbody>
                                <tr>
                                    <td><input type="text" [(ngModel)]="barcode" class="form-control special"></td><td><button (click)="searchProduct(barcode, code, description)" style="margin: 1mm;">Search</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Code</td><td style="padding: 0;"><input type="text" [(ngModel)]="code" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Description</td>
                    <td style="padding: 0;">
                        <input type="text" [(ngModel)]="description" list="descriptions" class="form-control special">
                        <datalist id="descriptions" style="padding: 0px;">
                            <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Qty</td><td style="padding: 0;"><input type="text" [(ngModel)]="qty" class="form-control special"></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Cost Price</td><td style="padding: 0;"><input type="text" [(ngModel)]="costPriceVatIncl" class="form-control special" readonly></td>
                </tr>
                <tr>
                    <td style="text-align: right;">Pack Size</td><td style="padding: 0;"><input type="text" [(ngModel)]="packSize" class="form-control special" readonly></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <!--<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
      <button type="button" (click)="saveDetail()" class="btn btn-outline-dark">Save</button>
    </div>
</ng-template>
