<div class="row">
    <div class="col">
        <table style="width: 100%;">
            <tr style="width: 100%; background-color: #eeeeee;">
                <td style="width: 100mm; vertical-align: top;"><p class="h6">Inventory / Product Inquiry</p></td>
                <td>[<a routerLink="/home">Home</a>][<span class="short-cut" (click)="createShortCut('Product Inquiry', 'product-inquiry')">Create Shortcut</span>]</td>                                   
            </tr>
        </table>
        <table style="width: 100%;">
            <tr style="width: 100%;">
                <td style="vertical-align: top; height: 75vh;">
                    <div class="container-fluid">
                        <div class="row">
                            <input type="hidden" name="id" [(ngModel)]="id">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-6 float-end" style="text-align: right;">
                                                <label>Barcode*</label>                               
                                            </div>
                                            <div class="col-6">
                                                <input type="text" [(ngModel)]="barcode" name="username" list="users" required class="form-control input-sm special" autocomplete="off">                               
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 float-end" style="text-align: right;">
                                                <label>Code*</label>                               
                                            </div>
                                            <div class="col-6">
                                                <input type="text" [(ngModel)]="code" name="username" list="users" required class="form-control input-sm special" autocomplete="off">                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <button (click)="search()" class="btn btn-success form-control">Search</button>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Description*</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="description" name="description" list="descriptions" required class="form-control input-sm special" autocomplete="off">   
                                        <datalist id="descriptions" style="padding: 0px;">
                                            <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
                                        </datalist>                            
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Short Description</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="shortDescription" required class="form-control input-sm special" readonly autocomplete="off">                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Common Name</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="commonName" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;"></div>
                                    <div class="col-8">
                                        <input type="checkbox" [(ngModel)]="sellable"><label>Sellable</label>                              
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;"></div>
                                    <div class="col-8">
                                        <input type="checkbox" [(ngModel)]="active"><label>Active</label>                               
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Supplier</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="supplierName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Department</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="departmentName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Class</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="className" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Sub Class</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="subClassName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Category</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="categoryName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Sub Category</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="subCategoryName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Group Level 1</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="levelOneName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Group Level 2</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="levelTwoName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Group Level 3</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="levelThreeName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Group Level 4</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="levelFourName" name="rollNo" required class="form-control input-sm special" readonly>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Discount %</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="discount" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>VAT %</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="vat" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Profit Margin %</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="profitMargin" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Cost Price VAT-Incl</label>                               
                                    </div>
                                    <div class="col-8 float-end" style="text-align: right;">{{costPriceVatIncl | currency:'':''}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Cost Price VAT-Excl</label>                               
                                    </div>
                                    <div class="col-8 float-end" style="text-align: right;">{{costPriceVatExcl | currency:'':''}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Selling Price VAT-Incl</label>                               
                                    </div>
                                    <div class="col-8 float-end" style="text-align: right;">{{sellingPriceVatIncl | currency:'':''}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Selling Price VAT-Excl</label>                               
                                    </div>
                                    <div class="col-8 float-end" style="text-align: right;">{{sellingPriceVatExcl | currency:'':''}}</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>UOM</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="uom" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Pack Size</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="packSize" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Stock</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="stock" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Minimum Inventory</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="minimumInventory" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Maximum Inventory</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="maximumInventory" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Default Reorder Level</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="defaultReorderLevel" name="rollNo" required class="form-control input-sm special" readonly>                               
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 float-end" style="text-align: right;">
                                        <label>Default Reorder Qty</label>                               
                                    </div>
                                    <div class="col-8">
                                        <input type="text" [(ngModel)]="defaultReorderQty" name="rollNo" required class="form-control input-sm special" readonly=true>                               
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4">
                                        <button (click)="clear()" class="btn btn-success" style="margin: 2px; width: 25mm;">Clear</button><br> 
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
</div>
