/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.SectionEnclosureBox {
    margin: 3px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.SectionOnBoxHeading{
    margin: 5px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #cccccc;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    color: rgb(22, 1, 1);
    text-align: center;

}

.SectionOnBoxSubHeading{
    margin: 5px;
    padding-left: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px solid #eeeeee;
    background-color: #eeeeee;
    border: 0x solid #eeeeee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: rgb(22, 1, 1);
    text-align: left;
    font-style: italic;

}

.SectionOnBoxBack{
    margin: 5px;
    padding-left: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px solid #cccccc;
    background-color: #cccccc;
    border: 0px solid #cccccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    text-align: center; 
    cursor: pointer; 
}

.SectionOnBox {
    margin: 5px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #cccccc;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    cursor: pointer;
}

.EnclosureBox {
    margin-top: 0px;   
}

.special{
    height: 8mm;
    border-radius: 0px;
    margin: 2px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
