<div class="EnclosureBox">
    <div class="SectionEnclosureBox">
        <div class="SectionOnBoxHeading">Mechandizer</div>
        <div class="SectionOnBoxSubHeading">Order Processing</div>
        <a routerLink="/product-master"><div class="SectionOnBox">LPO</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">GRN</div></a>  
        <div class="SectionOnBoxSubHeading">Sales and Returns</div>
        <a routerLink="/product-master"><div class="SectionOnBox">Quotations</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">Sales Invoices</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">Sales Receipt</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">Allocations</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">Sales Ledge</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">Sales Journal</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">Bill Reprint</div></a>
        <hr>
        <a routerLink="/product-master"><div class="SectionOnBox">Packing List</div></a>
        <hr>
        <a routerLink="/product-master"><div class="SectionOnBox">Customer Returns</div></a> 
        <a routerLink="/product-master"><div class="SectionOnBox">Customer Claims</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">Return to Vendor</div></a> 
        <div class="SectionOnBoxSubHeading">Credit Notes</div>
        <a routerLink="/product-master"><div class="SectionOnBox">Vendor Cr Note</div></a>
        <a routerLink="/product-master"><div class="SectionOnBox">Customer Cr Note</div></a>
    </div>
</div>

