<div class="EnclosureBox">
    <div class="SectionEnclosureBox">
        <div class="SectionOnBoxHeading">Mechandizer</div>
        <div class="SectionOnBoxSubHeading">Order Processing</div>
        <a routerLink="/lpo"><div class="SectionOnBox">LPO</div></a>
        <a routerLink="/grn"><div class="SectionOnBox">GRN</div></a>  
        <div class="SectionOnBoxSubHeading">Sales and Returns</div>
        <a routerLink="/quotations"><div class="SectionOnBox">Quotations</div></a>
        <a routerLink="/sales-invoices"><div class="SectionOnBox">Sales Invoices</div></a>
        <a routerLink="/sales-receipts"><div class="SectionOnBox">Sales Receipt</div></a>
        <a routerLink="/allocations"><div class="SectionOnBox">Allocations</div></a>
        <a routerLink="/sales-ledge"><div class="SectionOnBox">Sales Ledge</div></a>
        <a routerLink="/sales-journal"><div class="SectionOnBox">Sales Journal</div></a>
        <a routerLink="/bill-reprint"><div class="SectionOnBox">Bill Reprint</div></a>
        <hr>
        <a routerLink="/packing-list"><div class="SectionOnBox">Packing List</div></a>
        <hr>
        <a routerLink="/customer-returns"><div class="SectionOnBox">Customer Returns</div></a> 
        <a routerLink="/customer-claims"><div class="SectionOnBox">Customer Claims</div></a>
        <a routerLink="/return-to-vendor"><div class="SectionOnBox">Return to Vendor</div></a> 
        <div class="SectionOnBoxSubHeading">Credit Notes</div>
        <a routerLink="/vendor-cr-note"><div class="SectionOnBox">Vendor Cr Note</div></a>
        <a routerLink="/customer-cr-note"><div class="SectionOnBox">Customer Cr Note</div></a>
        <div class="SectionOnBoxSubHeading">Debt Payment</div>
        <a routerLink="/debt-tracker"><div class="SectionOnBox">Debt Tracker</div></a>
        <a routerLink="/debt-receipts"><div class="SectionOnBox">Debt Receipt</div></a>
        <a routerLink="/debt-allocations"><div class="SectionOnBox">Debt Allocation</div></a>       
    </div>
</div>

