<div class="EnclosureBox">
    <div class="SectionEnclosureBox">
        <div class="SectionOnBoxHeading">Inventory</div>
        <div class="SectionOnBoxSubHeading">Products</div>
        <a routerLink="/product-master"><div class="SectionOnBox">Product Master</div></a>  
        <a routerLink="/product-inquiry"><div class="SectionOnBox">Product Inquiry</div></a>  
        <a routerLink="/department"><div class="SectionOnBox">Departments</div></a> 
        <a routerLink="/class"><div class="SectionOnBox">Classes</div></a>  
        <a routerLink="/sub-class"><div class="SectionOnBox">Sub-Classes</div></a> 
        <div class="SectionOnBoxSubHeading">Materials</div>
        <a routerLink="/material-master"><div class="SectionOnBox">Material Master</div></a>  
        <a routerLink="/material-category"><div class="SectionOnBox">Categories</div></a>  
        <a routerLink="/material-sub-category"><div class="SectionOnBox">Sub Categories</div></a>      
    </div>
</div>