<div class="EnclosureBox">
    <div class="SectionEnclosureBox">
        <div class="SectionOnBoxHeading">Admin</div>
        <div class="SectionOnBoxSubHeading">User & Access</div>
        <a routerLink="/user-profile"><div class="SectionOnBox">User Profile</div></a>  
        <a routerLink="/role-manager"><div class="SectionOnBox">Role Manager</div></a>  
        <a routerLink="/access-control"><div class="SectionOnBox">Access Control</div></a> 
        <!--<a routerLink="/biometrics"><div class="SectionOnBox">Biometrics</div></a>--> 
        <div class="SectionOnBoxSubHeading">POS</div>   
        <a routerLink="/till-administration"><div class="SectionOnBox">Till Administration</div></a> 
        <div class="SectionOnBoxSubHeading">Company</div>   
        <a routerLink="/company-profile"><div class="SectionOnBox">Company Profile</div></a> 
    </div>
</div>

